/* booking.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#000;
  color:white;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.container{
  width:100%;
  max-width:450px;
  background:#111;
  padding:25px;
  border-radius:20px;
  border:1px solid #222;
}

h1{
  color:#ffd700;
  text-align:center;
  margin-bottom:8px;
  font-size:28px;
}

.subtitle{
  text-align:center;
  color:#bbb;
  margin-bottom:25px;
  font-size:14px;
}

.input-group{
  margin-bottom:18px;
}

label{
  display:block;
  margin-bottom:8px;
  font-size:14px;
  color:#ddd;
}

input,
select,
textarea{
  width:100%;
  padding:14px;
  border:none;
  outline:none;
  border-radius:12px;
  background:#1b1b1b;
  color:white;
  font-size:14px;
}

input:focus,
select:focus,
textarea:focus{
  border:1px solid #ffd700;
}

textarea{
  resize:none;
}

/* BUTTON */
.btn-booking{
  width:100%;
  background:#ffd700;
  color:black;
  border:none;
  padding:16px;
  border-radius:14px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
  margin-top:10px;
}

.btn-booking:hover{
  background:#ffea00;
  transform:translateY(-2px);
}

.btn-booking i{
  margin-right:8px;
}

/* SUMMARY */
.summary-box{
  background:#161616;
  border:1px solid #2a2a2a;
  border-radius:16px;
  padding:18px;
  margin-bottom:20px;
}

.summary-box h3{
  color:#ffd700;
  margin-bottom:15px;
  font-size:18px;
}

.summary-box p{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
  color:#ddd;
  font-size:15px;
}

.summary-box span{
  color:#ffd700;
  font-weight:bold;
}

/* PAYMENT BOX */
.payment-box{
  display:none;
  background:#111;
  border:1px solid #2a2a2a;
  border-radius:18px;
  padding:20px;
  margin-bottom:20px;
}

.payment-box h3{
  color:#ffd700;
  margin-bottom:10px;
}

.payment-text{
  color:#bbb;
  margin-bottom:20px;
  font-size:14px;
}

.payment-total{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
  padding:14px;
  background:#1a1a1a;
  border-radius:12px;
}

.payment-total span{
  color:#ddd;
}

.payment-total strong{
  color:#ffd700;
  font-size:18px;
}

/* QRIS */
.qris-image{
  width:100%;
  max-width:280px;
  display:block;
  margin:auto;
  border-radius:16px;
  margin-bottom:20px;
  background:white;
  padding:10px;
}

/* Upload */
.upload-box{
  margin-top:15px;
}

.upload-box label{
  display:block;
  margin-bottom:10px;
  color:#ddd;
}

.upload-box input{
  width:100%;
  background:#1a1a1a;
  color:white;
  border:1px solid #333;
  padding:12px;
  border-radius:12px;
}